*cursorColor: #c6c6c6
! --- ~/.Xresources ------------------------------------------------------------
! ------------------------------------------------------------------------------
! --- generated with 4bit Terminal Color Scheme Designer -----------------------
! ------------------------------------------------------------------------------
! --- http://ciembor.github.com/4bit -------------------------------------------
! ------------------------------------------------------------------------------

! --- special colors ---

*background: #212429
*foreground: #ccd0d7

! --- standard colors ---

! black
*color0: #303030

! bright_black
*color8: #5d5d5d

! red
*color1: #fa0b5f

! bright_red
*color9: #fb508c

! green
*color2: #5ffa0b

! bright_green
*color10: #8cfb50

! yellow
*color3: #faa60b

! bright_yellow
*color11: #fbbf50

! blue
*color4: #0b5ffa

! bright_blue
*color12: #508cfb

! magenta
*color5: #a60bfa

! bright_magenta
*color13: #bf50fb

! cyan
*color6: #0bfaa6

! bright_cyan
*color14: #50fbbf

! white
*color7: #9f9f9f

! bright_white
*color15: #b4b4b4


! ------------------------------------------------------------------------------
! --- end of terminal colors section -------------------------------------------
! ------------------------------------------------------------------------------


URxvt.font:xft:Source Code Pro:size=30.0,xft:DejaVu Sans Mono:size=30.0
URxvt.depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*saveLines:                  5000
URxvt*internalBorder: 5
URxvt*geometry: 70x19

rofi.color-enabled: true
rofi.color-window: #828282, #8abeb7, #8abeb7
rofi.color-normal: #828282, #c6c6c6, #8abeb7, #c6c6c6, #78824B
rofi.color-active: #828282, #c6c6c6, #8abeb7, #c6c6c6, #78824B
rofi.color-urgent: #828282, #c6c6c6, #8abeb7, #c6c6c6, #78824B

rofi.separator-style: solid
rofi.sidebar-mode: false
rofi.lines: 5
rofi.font: Source Code Pro Semibold 22.5
rofi.bw: 1
rofi.columns: 2
rofi.padding: 5
rofi.fixed-num-lines: true
rofi.hide-scrollbar: true
